.chat {
  flex: 2;

  .chatInfo {
    height: 50px;
    background-color: #5d5b8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;
    .profileTilte {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .chatIcons {
      display: flex;
      gap: 10px;

      img {
        height: 24px;
        cursor: pointer;
      }
    }
  }
}
